.footer-wrapper{
  display: flex;
	justify-content: center;
	align-items: center;
	gap: .7rem;
	flex-direction: column;
}
.text-footer{
	font-size: 1.8rem;
	text-shadow: 2px 2px 2px black;
	color: white;
	user-select: none;
}
.linkedinIcon{
	font-size: 2.5rem;
	filter: drop-shadow(2px 2px 2px #0E72A3);
	margin-bottom: 1rem;
	cursor: pointer;
	

}
.enlace{
	text-decoration: none;
	color: white;
}
@media (min-width: 769px) { 
	.linkedinIcon{
		font-size: 3rem;
	}
}