*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
}
.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(img/backgroudn.png);
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Lista de tareas */
.task-wrapper{
  width: 600px;
  min-height: 500px;
  /*background-color: #d0d0d5;*/
  padding: 25px;
  margin: 40px;
  border-radius: 26px;
  background-color: rgba(43, 0, 52, 0.9);
  box-shadow: 0px 0px 10px white;

 

}

.task-wrapper h2{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  margin: 20px 0;
  user-select: none;

}
@media (max-width: 650px) { 
  .App{
    width: 100%;
    margin: 0;
  }
  .task-wrapper{
    width: 90%;
    margin: 0;
    min-height: 75vh;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
.boxi{
  animation: boxi 10s ease-in-out 0s infinite alternate; 
}
@keyframes boxi {
  from{
      box-shadow: 0 0px 60px white; 
    
  }
  to{
      box-shadow: 0 0px 60px red;
      
  }

}